<div class="row row-space hotel-listing-box">
    <div class="row">
        <span class="glyphicon glyphicon-circle-arrow-left back-icon" ng-click="goBack()"></span>
    </div>
    <div class="row row-space hotel-criteria">
        <div class="row">
            <label class="control-label">You searched for:</label>
            <label for="destination" class="value-label searched-for">{{criteria.destination}}</label>
            <label class="control-label">Check in:</label>
            <label for="checkin" class="value-label searched-for">{{criteria.checkin}}</label>
            <label class="control-label">Check out:</label>
            <label for="checkin" class="value-label searched-for">{{criteria.checkout}}</label>
            <label class="control-label">Children:</label>
            <label for="noOfChild" class="value-label searched-for">{{criteria.noOfChild}}</label>
            <label class="control-label">Adults:</label>
            <label for="noOfAdult" class="value-label searched-for">{{criteria.noOfAdult}}</label>
            <label class="control-label">Nights:</label>
            <label for="checkin" class="value-label searched-for">{{criteria.nights()}} Nights</label>
        </div>
        <div class="col-md-2 multi-dest-title">
            <b>Hotel / Destination 1:</b>
        </div>
        <div class="col-md-2 multi-dest-map" ng-mouseover="showMap = true" ng-mouseout="showMap = false" ng-class="{'showing-map': showMap}">
            <b>Map view</b>
            <img ng-if="showMap" class="dest-map" ng-src="{{criteria.mapurl()}}" alt="map not available" />
        </div>
    </div>
    <div class="row row-space">
        <div class="col-md-3 modify-filter-block">
            <div>
                <div class="h-search-modify-title">Modify search</div>
                <span class="glyphicon collapsable-icon" ng-class="{'glyphicon-plus-sign':modifyCollapsed, 'glyphicon-minus-sign':!modifyCollapsed}" ng-click="modifyCollapsed = !modifyCollapsed"></span>
            </div>
            <div class="modify-search-box" ng-show="!modifyCollapsed">
                <div class="form-group">
                    <label>Destination:</label>
                    <input type="text" class="form-control" id="dest" placeholder="Destination" ng-model="criteria.destination">
                </div>
                <div class="form-group">
                    <label>Check-in:</label>
                    <input type="date" class="form-control" id="checkin" placeholder="Check in" ng-model="criteria.checkin">
                </div>
                <div class="form-group">
                    <label>Check-out:</label>
                    <input type="date" class="form-control" id="checkout" placeholder="Check out" ng-model="criteria.checkout">
                </div>
                <div class="form-group">
                    <label>No of Children:</label>
                    <input type="number" class="form-control" id="checkout" placeholder="Check out" ng-model="criteria.noOfChild">
                </div>
                <div class="form-group">
                    <label>No of Adults:</label>
                    <input type="number" class="form-control" id="checkout" placeholder="Check out" ng-model="criteria.noOfAdult">
                </div>
            </div>
            <div>
                <div class="h-search-filter-title">Filter search</div>
                <span class="glyphicon collapsable-icon" ng-class="{'glyphicon-plus-sign':filterCollapsed, 'glyphicon-minus-sign':!filterCollapsed}" ng-click="filterCollapsed = !filterCollapsed"></span>
            </div>
            <div class="filter-box" ng-show="!filterCollapsed">
                <form>
                    <div class="form-group">
                        <label for="hname">Hotel Name:</label>
                        <input type="text" class="form-control" id="hotelname" placeholder="Hotel">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="starcat">Star Rating:</label>
                        <div class="">
                            <span ng-class="{'glyphicon-star' : i <= rated, 'glyphicon-star-empty': i > rated}" class="glyphicon rating-filter-star" ng-repeat="i in [1,2,3,4,5]" ng-mouseover="changeRating(i, 'rated')">
                            <span class="rating-filter-num">{{i}}</span>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="starcat">Tripadvisor Rating:</label>
                        <div class="">
                            <span ng-class="{'glyphicon-star' : i <= tripadRating, 'glyphicon-star-empty': i > tripadRating}" class="glyphicon glyphicon-star rating-filter-star" ng-repeat="i in [1,2,3,4,5]" ng-mouseover="changeRating(i, 'tripadRating')">
                            <span class="rating-filter-num">{{i}}</span>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="price">Price for one night:</label>
                        <div>
                            <div ng-repeat="price in priceOptions">
                                <input type="checkbox" />
                                <span class="filter-font">{{price.option}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Filter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="media row-space hotel-desc" ng-repeat="hotel in hotelsList">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object h-img" ng-src="{{hotel.img}}" alt="no image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{hotel.hname}}
                        <span ng-if="hotel.ratings" class="glyphicon glyphicon-star own-rating" 
                              ng-repeat="i in [1,2,3,4,5].slice(0, hotel.ratings)">
                        </span>
                        <div ng-if="hotel.tripadv_ratings" class="trip-adv-rating">
                            Trip Advisor rating:
                            <span ng-if="hotel.tripadv_ratings" class="glyphicon glyphicon-star" 
                              ng-repeat="i in [1,2,3,4,5].slice(0, hotel.tripadv_ratings)">
                            </span>
                        </div>
                    </h4>
                    <div class="row">
                        <div class="col-md-3 hotel-location">
                            {{hotel.location.name}}
                        </div>
                        <div class=" col-md-3 hotel-details">
                            Details
                        </div>
                    </div>
                    <div>
                        <div ng-if="hotel.rooms.length > 0">
                            <table class="room">
                                <tr>
                                    <th>Room Type</th>
                                    <th>Meal Plan</th>
                                    <th>Avg Price</th>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="room in hotel.rooms.slice(0, readmore)">
                                    <td>{{room.type}}</td>
                                    <td>{{room.meal}}</td>
                                    <td>${{room.avgprice}}</td>
                                    <td>${{room.avgprice*criteria.nights()}}</td>
                                    <td>
                                        <button class="btn btn-default" ng-click="goToBookingPage(room.availablity)" ng-class="{'available-btn': room.availablity == 'Available', 'on-request-btn':room.availablity != 'Available'}">{{room.availablity}}</button>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-question-sign" ng-mouseover="showPolicies = true" ng-mouseout="showPolicies = false"></span>
                                        <div ng-if="showPolicies" class="room-policies">{{room.policies}}</div>
                                    </td>
                                </tr>
                                <tr ng-show="hotel.rooms.length > 1 && readmore == 1">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="javascript:void(0)" ng-click="loadMore(hotel.rooms.length)">
                                            Read more..
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>