<div id="package-summary">
    <div class="row">
        <div class="col-sm-12">
            <h4>Package Summary:</h4>
        </div>
    </div>
    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Hotel Booking:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table package-details">
                        <thead>
                            <tr>
                                <th>Hotel</th>
                                <th>Room</th>
                                <th>Adults</th>
                                <th>Children</th>
                                <th>Nights</th>
                                <th>Per Night</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bali Dynasty</td>
                                <td>Delux</td>
                                <td>2</td>
                                <td>1</td>
                                <td>4</td>
                                <td>45</td>
                                <td>180</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Sight-Seeing:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover package-details">
                        <thead>
                            <tr>
                                <th rowspan="2">Services</th>
                                <th colspan="3">Adults</th>
                                <th colspan="3">Children</th>
                                <th rowspan="2">Grand Total</th>
                            </tr>
                            <tr>
                                <th>Rate</th>
                                <th>Number</th>
                                <th>Total</th>
                                <th>Rate</th>
                                <th>Number</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Airport Transfer</td>
                                <td>10</td>
                                <td><input type="number" value="2" />
                                </td>
                                <td>20</td>
                                <td>5</td>
                                <td><input type="number" value="1" /></td>
                                <td>5</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Kintamani Tour</td>
                                <td>30</td>
                                <td><input type="number" value="2" />
                                </td>
                                <td>60</td>
                                <td>20</td>
                                <td><input type="number" value="1" /></td>
                                <td>20</td>
                                <td>80</td>
                            </tr>
                            <tr>
                                <td>Tunah Lot Tour</td>
                                <td>30</td>
                                <td><input type="number" value="2" />
                                </td>
                                <td>60</td>
                                <td>10</td>
                                <td><input type="number" value="1" /></td>
                                <td>10</td>
                                <td>70</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Cost Summary-</h4>
                </div>
            </div>

            <table class="table package-cost-summary">
                <tr>
                    <td colspan="3">
                        Package Total (USD)
                    </td>
                    <td>
                        355
                    </td>
                </tr>
                <tr>
                    <td>
                        Markup
                    </td>
                    <td>
                        <select class="form-control" name="" id="">
                            <option value="percent">%</option>
                            <option value="amount" selected="selected">Amount</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control" type="number" value="100">
                    </td>
                    <td>
                        100
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Package Total (USD)
                    </td>
                    <td>
                        455
                    </td>
                </tr>


            </table>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Inclusions:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">Meet &amp; Greet assistance at the airport </li>
                        <li class="list-group-item">04 Nights Accommodation as mentioned above</li>
                        <li class="list-group-item">Daily Breakfast</li>
                        <li class="list-group-item">Return Airport transfers on private basis</li>
                        <li class="list-group-item">Full Day Kintamani Volcano Tour with Ubud Village on private basis </li>
                        <li class="list-group-item">Full Day Tour with Benoa water sports including 01 round of Banana Boat followed by Uluwatu Tour on private basis</li>
                        <li class="list-group-item">Full Day Bedugul lake temple tour followed by Tanah lot temple Tour on private basis</li>
                        <li class="list-group-item">01 GSM prepaid SIM card upon arrival per booking</li>
                        <li class="list-group-item">VAT in Indonesia and all other taxes </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Exclusions:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">Local Country Taxes</li>
                        <li class="list-group-item">Airfare & Airport Taxes</li>
                        <li class="list-group-item">Visa Fees (If any)</li>
                        <li class="list-group-item">Meals not mentioned or not selected</li>
                        <li class="list-group-item">Any cost of personal nature</li>
                        <li class="list-group-item">Any cost not mentioned in the ‘Cost Includes’ section</li>
                        <li class="list-group-item form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4>Custom Exclusions</h4>
                                </div>
                                <div class="col-sm-2">
                                    <label class="switch">
                                        <input type="checkbox" ng-model="customExclusionSwitch">
                                        <div class="slider round"></div>
                                    </label>

                                </div>
                            </div>
                            <div class="row" ng-if="customExclusionSwitch">
                                <div class="col-sm-12">
                                    <div class="row" style="margin-bottom:10px">
                                        <div class=" col-sm-12 ">
                                            <textarea class="form-control " rows="5 " id="comment " placeholder="Exclusion Description "></textarea>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-12 "><button class="btn btn-primary pull-right ">Add Custom Exclusion to List</button></div>
                                    </div>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <Button class="btn btn-primary pull-right action-buttons" ng-disabled="true">Checkout</Button>
            <Button class="btn btn-primary pull-right action-buttons" ng-click="openPDFInNewTab(dummyPdfURL)">Export to PDF</Button>
            <Button class="btn btn-primary pull-right action-buttons" ng-disabled="true">Export as Mail</Button>
        </div>
    </div>

</div>