<div id="package-summary">
    <div class="row">
        <div class="col-sm-12">
            <h4>Package Summary:</h4>
        </div>
    </div>
    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Hotel Booking:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table package-details">
                        <thead>
                            <tr>
                                <th>Hotel</th>
                                <th>Room</th>
                                <th>Adults</th>
                                <th>Children</th>
                                <th>Nights</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bali Dynasty</td>
                                <td>Delux</td>
                                <td>2</td>
                                <td>1</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Sight-Seeing:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover package-details">
                        <thead>
                            <tr>
                                <th>Services</th>
                                <th>Adults</th>
                                <th>Children</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Airport Transfer</td>
                                <td>2</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Kintamani Tour</td>
                                <td>2</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Tunah Lot Tour</td>
                                <td>2</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Cost Summary-</h4>
                </div>
            </div>

            <table class="table package-cost-summary">
                <tr>
                    <td colspan="3">
                        Package Total (USD)
                    </td>
                    <td>
                        455
                    </td>
                </tr>


            </table>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Inclusions:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">Meet &amp; Greet assistance at the airport </li>
                        <li class="list-group-item">Traditional welcome with Garland, 01 Bottle of mineral water &amp; Wet tissue upon arrival </li>
                        <li class="list-group-item">03 Nights Accommodation as mentioned above with Daily Breakfast </li>
                        <li class="list-group-item">01 GSM prepaid SIM card upon arrival per booking </li>
                        <li class="list-group-item">VAT in Indonesia and all other taxes </li>
                        <li class="list-group-item">
                            Airport Transfer - Lorem ipsum dolor sit amet, no odio cetero sed, sea ut sumo alia eius, ne dicunt adipiscing sed. Te per tale alterum admodum, cum omnes nostrum ut, an vix facete temporibus. Dolores electram mel ut, nam ad vidisse nusquam inimicus.
                            Sed et tale reque nominavi, cu agam duis falli quo. Malis commune copiosae ex pri, vidisse efficiantur instructior ex usu. Ex affert prodesset eos, has ut prima nullam suscipit. Est ea veniam nonumes. Cum utamur invidunt intellegam
                            ei, solet nostrud nostrum duo ad. Eu dico audire sanctus nec. Tollit habemus sententiae eu vix, errem feugait nam no. Atqui alienum prodesset sea ex, ea nibh recteque ius. Audiam deterruisset vis cu. Malorum tincidunt scribentur
                            pro ea, et sea rebum legendos. Sea ne elit vivendum, ei est facete tacimates eleifend. Ad prompta singulis consetetur duo, quando interesset te nec, an odio habeo illud mea.
                        </li>
                        <li class="list-group-item">
                            Kintamani Tour - Lorem ipsum dolor sit amet, no odio cetero sed, sea ut sumo alia eius, ne dicunt adipiscing sed. Te per tale alterum admodum, cum omnes nostrum ut, an vix facete temporibus. Dolores electram mel ut, nam ad vidisse nusquam inimicus. Sed
                            et tale reque nominavi, cu agam duis falli quo. Malis commune copiosae ex pri, vidisse efficiantur instructior ex usu. Ex affert prodesset eos, has ut prima nullam suscipit. Est ea veniam nonumes. Cum utamur invidunt intellegam
                            ei, solet nostrud nostrum duo ad. Eu dico audire sanctus nec. Tollit habemus sententiae eu vix, errem feugait nam no. Atqui alienum prodesset sea ex, ea nibh recteque ius. Audiam deterruisset vis cu. Malorum tincidunt scribentur
                            pro ea, et sea rebum legendos. Sea ne elit vivendum, ei est facete tacimates eleifend. Ad prompta singulis consetetur duo, quando interesset te nec, an odio habeo illud mea.
                        </li>
                        <li class="list-group-item">
                            Tunah Lot Tour - Lorem ipsum dolor sit amet, no odio cetero sed, sea ut sumo alia eius, ne dicunt adipiscing sed. Te per tale alterum admodum, cum omnes nostrum ut, an vix facete temporibus. Dolores electram mel ut, nam ad vidisse nusquam inimicus. Sed
                            et tale reque nominavi, cu agam duis falli quo. Malis commune copiosae ex pri, vidisse efficiantur instructior ex usu. Ex affert prodesset eos, has ut prima nullam suscipit. Est ea veniam nonumes. Cum utamur invidunt intellegam
                            ei, solet nostrud nostrum duo ad. Eu dico audire sanctus nec. Tollit habemus sententiae eu vix, errem feugait nam no. Atqui alienum prodesset sea ex, ea nibh recteque ius. Audiam deterruisset vis cu. Malorum tincidunt scribentur
                            pro ea, et sea rebum legendos. Sea ne elit vivendum, ei est facete tacimates eleifend. Ad prompta singulis consetetur duo, quando interesset te nec, an odio habeo illud mea.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-container-box">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Exclusions:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Service Tax - Lorem ipsum dolor sit amet, no odio cetero sed, sea ut sumo alia eius, ne dicunt adipiscing sed. Te per tale alterum admodum, cum omnes nostrum ut, an vix facete temporibus. Dolores electram mel ut, nam ad vidisse nusquam inimicus. Sed et
                            tale reque nominavi, cu agam duis falli quo. Malis commune copiosae ex pri, vidisse efficiantur instructior ex usu. Ex affert prodesset eos, has ut prima nullam suscipit. Est ea veniam nonumes. Cum utamur invidunt intellegam
                            ei, solet nostrud nostrum duo ad. Eu dico audire sanctus nec. Tollit habemus sententiae eu vix, errem feugait nam no. Atqui alienum prodesset sea ex, ea nibh recteque ius. Audiam deterruisset vis cu. Malorum tincidunt scribentur
                            pro ea, et sea rebum legendos. Sea ne elit vivendum, ei est facete tacimates eleifend. Ad prompta singulis consetetur duo, quando interesset te nec, an odio habeo illud mea.
                        </li>
                        <li class="list-group-item">
                            Airfare, Airport Taxes, meals not mentioned, any cost of personal nature, any cost not mentioned in the ‘Cost Includes’ section
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>